<label>
<input type="checkbox" checked class="js-toggle-overlay">
show overlay
</label>

<%= render "application/map" %>

<h3>Bookmarks</h3>
<%= form_for @bookmark do |f| %>
    <%= f.text_field :northeast_latitude %>
    <%= f.text_field :northeast_longitude %>
    <%= f.text_field :southwest_latitude %>
    <%= f.text_field :southwest_longitude %>
    <%= f.text_field :name, required: true %>
    <%= f.submit %>
<% end %>

<ul>
    <% @bookmarks.each do |bookmark| %>
        <% if bookmark.persisted? %>
            <li>
                <%= link_to bookmark.name, explore_events_path(bookmark: bookmark.id) %>
                <td>
                    <%= form_with url: bookmark_path(bookmark.id), method: :delete do |form| %>
                        <%= form.submit "Delete" %>
                    <% end %>
                </td>
            </li>
        <% end %>
    <% end %>
</ul>

<%= javascript(
    events: @events,
    env: "#{Rails.env}",
    bookmark: @bookmark
) %>