<h1>Events</h1>

<% if params[:date] %>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<%= @events.count %> events <%= "on #{params[:date]}" || "today" %>.<br>
<%= render "application/map" %>
<% else %>
<ul>
<% @events.each do |date, count| %>
  <li><%= link_to "#{date.strftime("%A %F")}", events_path(date: date) %>
  <small>(<%= count %>)</small>
  </li>
<% end %>
</ul>
<% end %>

<%= javascript({events: @events}) %>