<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <%= @num_events %> events.<br>
    Last event at <%= Event.last.created_at %>.
    <input type="text" name="dates">
    <a href="#" id="previous">-1 day</a>
    <a href="#" id="next">+1 day</a>

<script type="text/javascript">
      function increment(yyyymmdd, days){
        var d = moment(yyyymmdd).add(days,'days')
        return d.format("YYYY-MM-DD")
      }

      function eventsPath(date_from, date_to){
        return "/?date_from=" + date_from + "&date_to=" + date_to
      }

      function goTo(int){
        return function(){
          window.location = eventsPath(increment("<%= @date_from %>", int), increment("<%= @date_to %>",int))
        }
      }
      var popupClickHandler = function(res){
        return function(event){
          $.post("/api/places", {
            latitude: res.y,
            longitude: res.x,
            name: res.label
          }, function(resp,body){

          })
        }
      }

      function destroyPlaceHandler(place, marker){
        return function (e){
          mymap.removeLayer(marker)
          $.ajax({
            url: `/api/places/${place.id}`,
            type: 'DELETE'
          })
        }
      }
      next.addEventListener('click', goTo(1))
      previous.addEventListener('click', goTo(-1))
      const searchControl = new window.GeoSearch.GeoSearchControl({
        provider: new window.GeoSearch.OpenStreetMapProvider(),
        style: 'button',
        autoClose: true,
        showPopup: true,
        keepResult: true,
        popupFormat: ({ result }) => {
          var el = $(`<div>${result.label} <a href="#" class="js-save">Save</a></div>`)
          el.on('click', '.js-save',popupClickHandler(result))
          return el[0]
        },
      });
      mymap.addControl(searchControl);
      

      $('input[name="dates"]').daterangepicker({
        startDate: '<%= @date_from %>',
        endDate: '<%= @date_to %>',
        locale: {
          format: 'YYYY-MM-DD'
        },
         ranges: {
          'Today': [moment(), moment()],
          'Last 7 days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last 365 days': [moment().subtract(365, 'days'), moment()]
        },
      }, function(start, end){
        console.log(start.format('YYYY-MM-DD'),end.format('YYYY-MM-DD'))
        window.location = "/?date_from=" + start.format('YYYY-MM-DD') + "&date_to=" + end.format('YYYY-MM-DD')
      });
      function getPoints(callback) {
        $.getJSON("/api/events?date_from=<%= @date_from %>&date_to=<%= @date_to %>", function(response){
          callback(response.map(datum => {return {lat: datum.latitude, lng: datum.longitude}}))
        }) 
      }
      function getPlaces(callback) {
        $.getJSON("/api/places", callback)
      }

      getPoints(function(points){
          var pointList = points.map(point => new L.LatLng(point.lat, point.lng))
          var firstpolyline = new L.Polyline(pointList, {
              color: 'blue',
              weight: 5,
              opacity: 0.5,
              smoothFactor: 5
          });
          firstpolyline.addTo(mymap);
      })
      getPlaces(function(places){
        places.forEach(function(place){
          var $label = $(`
            <div>
              <strong>${place.name}</strong>
              <br><br>
              <a href='#' class='js-delete danger'>Delete<a> |
              <a href="/places/${place.id}/edit">Edit</a>
            </div>
          `)
          var marker = L.marker([place.latitude, place.longitude])
          $label.on('click', '.js-delete', destroyPlaceHandler(place, marker))
          marker.addTo(mymap)
            .bindPopup($label[0]);
        })
      })
    </script>