<h1>Places</h1>
<% if @places.count == 0 %>
No places yet. 
<%= link_to "Create one", new_place_path %>.
<% else %>

<%= link_to "🧭 New Place", new_place_path %>.
<ol>
<% @places.each do |place| %>
  <li>
    <%= link_to place.name, place_path(place)%>
    <small><%= place.created_at.strftime("%F") %></small>    
  </li>
<% end %>

</ol>
<%= render "application/map" %>
<script>

const data = <%= raw @places.to_json %>
data.map(createPlaceMarker)
console.log('data', data)
function createPlaceMarker(place){ 
        var marker = L.marker([place.latitude, place.longitude])
        marker.addTo(mymap)
          .bindPopup(place.name);
          mymap.setView([place.latitude,place.longitude], 3)
      }
</script>
<% end %>
