<h1>
<%= link_to "Places", places_path %>
<small>(<% if params[:tag] %><%= params[:tag] %>:
<% end %><%= @places.count %>)</small>

</h1>


<%= link_to "ðŸ§­ New Place", new_place_path %>
<%= link_to "ðŸ—³ï¸ Import Places", import_places_path %>
<%= render "application/map" %>
<%= javascript(places: @places) %>
<ol>
<% @places.each do |place| %>
  <li>
    <%= link_to place.name, place_path(place)%>
    <small><%= place.created_at.strftime("%F") %></small>   
    <%= 
      raw(place.owner_tags_on(current_user, :places).map do |tag|
        "<a href='#{places_path(tag: tag[:name])}' class='tag'>#{tag[:name]}</a>"
      end.to_a.join(''))
    %>
    
  </li>
<% end %>
</ol>

